/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(225, 248, 227);
    color: #2F4F4F; /* Dark Sea Green color */
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #8FBC8F; /* Dark Sea Green */
    color: white;
}

#timer {
    font-size: 24px;
    margin: 20px 0;
}

.timeline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh); /* Adjust height if necessary */
    width: 100%;
}

.timeline {
    position: relative;
    width: 50px;
    height: 100%;
    border-left: 3px solid #ccc;
}

.node  {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #8FBC8F;
    border-radius: 50%;
    margin: 20px 0;
    left: -10px;
    cursor: pointer;
}


/* .start-node {
    background-color: darkgreen;
}

.start-node-date {
    position: absolute;
    top: 0;
    left: 30px;
    white-space: nowrap;
} */


.start-node {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 20px 0;
    left: -11px;
    cursor: pointer;
}

.start-node::before,
.start-node::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 32px;
    border-radius: 20px 20px 0 0;
    background: #e74c3c;
}

.start-node::before {
    left: 10px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.start-node::after {
    left: -10px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.start-node-date {
    position: absolute;
    top: 0px;
    left: 30px;
    white-space: nowrap;
    font-weight: bolder;
}

.node-date {
    position: absolute;
    top: 0px;
    left: 30px;
    white-space: nowrap;
    font-weight: bold;
}

#hover-box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#hover-image {
    max-width: 100%;
    height: auto;
}
